<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.NavigationTopDao">
    <insert id="insertNavigationTop" useGeneratedKeys="true" keyProperty="topPostId">
        BEGIN;
        INSERT INTO t_navigation_top(
        NAVIGATION_ID,
        POST_ID,
        SORT_TIME,
        CREATE_TIME
        )VALUES(#{navigationId},#{postId},NOW(),NOW());
        UPDATE t_post_base
        SET IS_TOP = 1
        WHERE
        ID = #{postId};
        UPDATE t_navigation
        SET MAX_TOP_NUM = (SELECT COUNT(0) FROM t_navigation_top WHERE NAVIGATION_ID =#{navigationId} AND IS_DEL = 0)
        WHERE ID = #{navigationId};
        COMMIT;
    </insert>
    <!--对置顶帖子进行排序-->
    <update id="sortNavigationTop">
        START TRANSACTION;
        UPDATE t_navigation_top SET SORT_TIME =#{laterSortTime} WHERE ID = #{formerNavId};
        UPDATE t_navigation_top SET SORT_TIME =#{formerSortTime} WHERE ID = #{laterNavId};
        COMMIT;
    </update>

    <update id="updateNavigationTop">
        UPDATE t_navigation_top
        SET POST_ID = #{postId}
        WHERE ID =#{topPostId}
    </update>


    <update id="updateDelNavigationTop">
        BEGIN;
        UPDATE t_navigation_top
        SET IS_DEL = 1
        WHERE ID =#{topPostId};
        UPDATE t_navigation
        SET MAX_TOP_NUM = (SELECT COUNT(0) FROM t_navigation_top WHERE NAVIGATION_ID =#{navigationId} AND IS_DEL = 0)
        WHERE ID = #{navigationId};
        COMMIT;
    </update>

    <select id="getNavigationTopList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            a.NAVIGATION_ID navigationId,
            b.Title         navigationTitle,
            a.POST_ID       postId,
            a.ID            topPostId,
            a.SORT_TIME     sortTime
        FROM
            t_navigation_top a,t_navigation b
        WHERE
            a.IS_DEL=0
            AND a.NAVIGATION_ID = b.ID
        <if test="navigationId != null and navigationId !=''">
            AND a.NAVIGATION_ID = #{navigationId}
        </if>
        ORDER BY a.SORT_TIME DESC
    </select>
    <select id="getWxNavigationTopList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        a.NAVIGATION_ID navigationId,
        b.Title         navigationTitle,
        a.POST_ID       postId,
        a.ID            topPostId,
        a.CREATE_TIME   createTime
        FROM
        t_navigation_top a,t_navigation b
        WHERE
        a.IS_DEL=0
        AND a.NAVIGATION_ID = b.ID
        AND a.NAVIGATION_ID = #{navigationId}
        ORDER BY a.SORT_TIME DESC
    </select>
</mapper>
