<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.NavigationTopDao">
    <insert id="insertNavigationTop" useGeneratedKeys="true" keyProperty="topPostId">
        BEGIN;
        INSERT INTO t_navigation_top(
        NAVIGATION_ID,
        POST_ID,
        SORT_TIME,
        CREATE_TIME
        )VALUES(#{navigationId},#{postId},NOW(),NOW());
        UPDATE t_navigation
        SET MAX_TOP_NUM =(SELECT COUNT(0) FROM t_navigation_top WHERE NAVIGATION_ID =#{navigationId})
        WHERE ID = #{navigationId};
        COMMIT;
    </insert>
    <!--<update id="updateNavigationTop">

    </update>-->
    <select id="getNavigationTopList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            a.NAVIGATION_ID navigationId,
            a.POST_ID postId,
            a.ID topPostId,
            a.CREATE_TIME createTime
        FROM
            t_navigation_top a
        WHERE
            IS_DEL=0
        <if test="navigationId != null and navigationId !=''">
            AND NAVIGATION_ID = #{navigationId}
        </if>
        <if test="postId != null and postId=''">
            AND POST_ID = #{postId}
        </if>
    </select>
</mapper>
