<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.PostBaseDao">

    <!-- 后台帖子dao实现 -->
    <select id="countPost" resultType="java.lang.Integer">
        select count(0) from (SELECT
        u.WX_NICK_NAME      poster,
        u.WX_GENDER         posterGender,
        u.WX_AVATAR_URL     posterAvatar,
        f.TYPE_NAME         typeName,
        m.ID                postId,
        m.CREATE_TIME       createTime,
        m.ADDRESS           address,
        m.LABELS            postLabels,
        m.CONTENT           content,
        m.MIN_PRICE         minPrice,
        m.MAX_PRICE         maxPrice,
        m.PHONE             phone,
        m.TOTAL_BROWSE      browse,
        m.TOTAL_COMMENTS    comments,
        m.TOTAL_RESONATE    likes,
        m.DEV_BROWSE        devBrowse,
        m.DEV_RESONATE      devLike,
        m.TOTAL_COLLECTION  collection,
        m.FEE               fee,
        m.ACTIVE_TIME       activeTime,
        m.CHECK_IN_TIME     checkInTime,
        m.CHECK_OUT_TIME    checkOutTime,
        (SELECT IFNULL((SELECT id FROM t_user_follow u WHERE u.FAN_ID =#{userId} AND u.FOLLOW_ID=m.USER_ID),'0') ) isFollow
        FROM
        t_wx_user u,
        t_post_base m,
        t_post_type f
        WHERE
        m.TYPE_ID = f.ID
        AND u.USER_ID = m.USER_ID
        <if test="isDel != null and isDel !=''">
            AND m.IS_DEL = #{isDel}
        </if>
        <if test="typeId !=null and typeId !=''">
            AND m.TYPE_ID = #{typeId}
        </if>
        <if test="isSub !=null and isSub !=''">
            AND m.IS_SUB = #{isSub}
        </if>
        <if test="isMall !=null and isMall !=''">
            AND m.IS_MALL = #{isMall}
        </if>
        <if test="postId !=null and postId !=''">
            AND m.ID = #{postId}
        </if>
        <if test="nickname != null and nickname != ''">
            AND u.WX_NICK_NAME LIKE CONCAT(CONCAT('%',#{nickname}),'%')
        </if>
        <if test="keyword !=null and keyword !=''">
            AND (m.CONTENT LIKE CONCAT(CONCAT('%',#{keyword}),'%') OR m.ADDRESS LIKE CONCAT(CONCAT('%',#{keyword}),'%'))
        </if>
        <if test="startTime !=null and startTime !='' and endTime !=null and endTime">
            AND m.CREATE_TIME BETWEEN DATE_FORMAT(#{startTime},'%Y-%m-%d %T') AND DATE_FORMAT(#{endTime},'%Y-%m-%d %T')
        </if>
        ORDER BY
        ACTIVE_TIME DESC) g

    </select>

    <insert id="insertPostBase" useGeneratedKeys="true" keyProperty="postId" parameterType="com.alibaba.fastjson.JSONObject">
         INSERT INTO t_post_base (
            USER_ID,
            TYPE_ID,
            CONTENT,
        <if test="minPrice != null and minPrice != 0">
            MIN_PRICE,
        </if>
        <if test="maxPrice != null and maxPrice != 0">
            MAX_PRICE,
        </if>
        <if test="phone != null and phone != ''">
            PHONE,
        </if>
        <if test="address != null and address != ''">
            ADDRESS,
        </if>
        <if test="labels != null and labels != ''">
            LABELS,
        </if>
        <if test="isSub != null and isSub != ''">
            IS_SUB,
        </if>
        <if test="isMall != null and isMall != ''">
            IS_MALL,
        </if>
        <if test="checkInTime != null and checkInTime != ''">
            CHECK_IN_TIME,
        </if>
        <if test="checkOutTime != null and checkOutTime != ''">
            CHECK_OUT_TIME,
        </if>
            ACTIVE_TIME,
            CREATE_TIME,
            FEE
        )
        VALUES
            (
            #{userId},
            #{typeId},
            #{content},
        <if test="minPrice != null and minPrice != 0">
            #{minPrice},
        </if>
        <if test="maxPrice != null and maxPrice != 0">
            #{maxPrice},
        </if>
        <if test="phone != null and phone != ''">
            #{phone},
        </if>
        <if test="address != null and address != ''">
            #{address},
        </if>
        <if test="labels != null and labels != ''">
            #{labels},
        </if>
        <if test="isSub != null and isSub != ''">
            #{isSub},
        </if>
        <if test="isMall != null and isMall != ''">
            #{isMall},
        </if>
        <if test="checkInTime != null and checkInTime != ''">
            #{checkInTime},
        </if>
        <if test="checkOutTime != null and checkOutTime != ''">
            #{checkOutTime},
        </if>
            NOW(),
            NOW(),
            #{fee}
            )
    </insert>
    <select id="getPostBaseList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        u.WX_NICK_NAME      poster,
        u.USER_ID           userId,
        u.WX_GENDER         posterGender,
        u.WX_AVATAR_URL     posterAvatar,
        f.TYPE_NAME         typeName,
        m.ID                postId,
        m.CREATE_TIME       createTime,
        m.ADDRESS           address,
        m.LABELS            postLabels,
        m.CONTENT           content,
        m.MIN_PRICE         minPrice,
        m.MAX_PRICE         maxPrice,
        m.PHONE             phone,
        m.TOTAL_BROWSE+m.DEV_BROWSE      browse,
        m.TOTAL_COMMENTS    comments,
        m.TOTAL_RESONATE+m.DEV_RESONATE    likes,
        m.DEV_BROWSE        devBrowse,
        m.DEV_RESONATE      devLike,
        m.TOTAL_COLLECTION  collection,
        m.FEE               fee,
        m.ACTIVE_TIME       activeTime,
        m.IS_LOWER_SHELF    isLowerShelf,
        m.IS_MALL           isMall,
        m.IS_SUB            isSub,
        m.CHECK_IN_TIME     checkInTime,
        m.CHECK_OUT_TIME    checkOutTime,
        m.IS_DEL            isDel,
        (SELECT IFNULL((SELECT id FROM t_user_follow u WHERE u.FAN_ID =#{userId} AND u.FOLLOW_ID=m.USER_ID),'0') ) isFollow,
        (SELECT IF((SELECT RESTRICT_STATE FROM t_user_operation_restrict WHERE USER_ID = u.USER_ID AND RESTRICT_END_TIME > NOW())=1,1,0)) ifRes
        FROM
        t_wx_user u,
        t_post_base m,
        t_post_type f
        WHERE
        m.TYPE_ID = f.ID
        AND u.USER_ID = m.USER_ID
        <if test="isDel != null and isDel !=''">
            AND m.IS_DEL = #{isDel}
        </if>
        <if test="typeId !=null and typeId !=''">
            AND m.TYPE_ID = #{typeId}
        </if>
        <if test="isSub !=null and isSub !=''">
            AND m.IS_SUB = #{isSub}
        </if>
        <if test="isMall !=null and isMall !=''">
            AND m.IS_MALL = #{isMall}
        </if>
        <if test="postId !=null and postId !=''">
        AND m.ID = #{postId}
        </if>
        <if test="nickname != null and nickname != ''">
        AND u.WX_NICK_NAME LIKE CONCAT(CONCAT('%',#{nickname}),'%')
        </if>
        <if test="keyword !=null and keyword !=''">
        AND (m.CONTENT LIKE CONCAT(CONCAT('%',#{keyword}),'%') OR m.ADDRESS LIKE CONCAT(CONCAT('%',#{keyword}),'%'))
        </if>
        <if test="startTime !=null and startTime !='' and endTime !=null and endTime">
        AND m.CREATE_TIME BETWEEN DATE_FORMAT(#{startTime},'%Y-%m-%d %T') AND DATE_FORMAT(#{endTime},'%Y-%m-%d %T')
        </if>
        <if test="postLabelId != null and postLabelId != ''">
        AND FIND_IN_SET(#{postLabelId},m.labels)!=0
        </if>
        <if test="isRecommend ==null">
            ORDER BY m.CREATE_TIME DESC
        </if>
        <if test="isRecommend != null">
            ORDER BY activeTime DESC
        </if>
        <if test="isPop != null">
            ,browse DESC
        </if>
        LIMIT #{offSet}, #{pageRow}
    </select>

    <select id="getPostContent" resultType="java.lang.String">
        SELECT CONTENT content
        FROM t_post_base a
        WHERE a.ID=#{postId}
        AND a.IS_DEL = 0
    </select>

    <select id="getTopPostBase" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        u.WX_NICK_NAME      poster,
        u.WX_GENDER         posterGender,
        u.WX_AVATAR_URL     posterAvatar,
        f.TYPE_NAME         typeName,
        m.ID                postId,
        m.CREATE_TIME       createTime,
        m.ADDRESS           address,
        m.LABELS            postLabels,
        m.CONTENT           content,
        m.MIN_PRICE         minPrice,
        m.MAX_PRICE         maxPrice,
        m.PHONE             phone,
        m.TOTAL_BROWSE      browse,
        m.TOTAL_COMMENTS    comments,
        m.TOTAL_RESONATE    likes,
        m.DEV_BROWSE        devBrowse,
        m.DEV_RESONATE      devLike,
        m.TOTAL_COLLECTION  collection,
        m.FEE               fee,
        m.ACTIVE_TIME       activeTime,
        m.IS_LOWER_SHELF    isLowerShelf,
        m.IS_MALL           isMall,
        m.IS_SUB            isSubp
        FROM
        t_wx_user u,
        t_post_base m,
        t_post_type f
        WHERE
        m.TYPE_ID = f.ID
        AND u.USER_ID = m.USER_ID
        AND m.ID = #{postId}
        AND m.IS_LOWER_SHELF =0
        <if test="isDel != null and isDel !=''">
            AND m.IS_DEL = #{isDel}
        </if>
        <if test="typeId !=null and typeId !=''">
            AND m.TYPE_ID = #{typeId}
        </if>
        <if test="isSub !=null and isSub !=''">
            AND m.IS_SUB = #{isSub}
        </if>
        <if test="isMall !=null and isMall !=''">
            AND m.IS_MALL = #{isMall}
        </if>
        <if test="nickname != null and nickname != ''">
            AND u.WX_NICK_NAME LIKE CONCAT(CONCAT('%',#{nickname}),'%')
        </if>
        <if test="keyword !=null and keyword !=''">
            AND (m.CONTENT LIKE CONCAT(CONCAT('%',#{keyword}),'%') OR m.ADDRESS LIKE CONCAT(CONCAT('%',#{keyword}),'%'))
        </if>
        <if test="startTime !=null and startTime !='' and endTime !=null and endTime">
            AND m.CREATE_TIME BETWEEN DATE_FORMAT(#{startTime},'%Y-%m-%d %T') AND DATE_FORMAT(#{endTime},'%Y-%m-%d %T')
        </if>
        <if test="isRecommend ==null">
            ORDER BY m.CREATE_TIME DESC
        </if>
        <if test="isRecommend != null">
            ORDER BY activeTime DESC
        </if>
        <if test="isPop != null">
            ,browse DESC
        </if>
    </select>

    <!--修改帖子浏览量点赞量-->
    <update id="updatePostBase">
        UPDATE t_post_base
        SET IS_DEL=0
        <if test="devBrowse !=null and devBrowse!=''">
            ,DEV_BROWSE = #{devBrowse}
        </if>
        <if test="devLike !=null and devLike !=''">
            ,DEV_RESONATE =#{devLike}
        </if>
        WHERE ID = #{postId}
    </update>
    <!-- 微信dao方法实现 -->
    <!-- 用户帖子详情 -->
    <select id="getWxUserPostInfo" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        u.WX_NICK_NAME      poster,
        u.WX_GENDER         posterGender,
        u.WX_AVATAR_URL     posterAvatar,
        f.TYPE_NAME         typeName,
        m.ID                postId,
        m.USER_ID           userId,
        DATE_FORMAT(m.CREATE_TIME,'%Y-%m-%d %T')       createTime,
        m.CHECK_IN_TIME     checkInTime,
        m.CHECK_OUT_TIME    checkOutTime,
        m.CONTENT           content
        FROM
        t_wx_user u,
        t_post_base m,
        t_post_type f
        WHERE
        m.TYPE_ID = f.ID
        AND m.IS_LOWER_SHELF = '0'
        AND m.IS_DEL = '0'
        AND u.USER_ID = m.USER_ID
        AND m.ID =#{postId}
    </select>

    <!-- 校验帖子是否存在 -->
    <select id="getWxPostInfoByPostId" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
          ID         postId
        FROM
        t_post_base
        WHERE
         ID = #{postId}
         AND IS_DEL = '0'
    </select>

    <!-- 微信分页加载帖子列表 -->
    <select id="getWxPostBaseList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        u.USER_ID           postUserId,
        u.WX_NICK_NAME      poster,
        u.WX_GENDER         posterGender,
        u.WX_AVATAR_URL     posterAvatar,
        f.TYPE_NAME         typeName,
        m.ID                postId,
        m.CREATE_TIME       createTime,
        m.ADDRESS           address,
        m.LABELS            postLabels,
        m.CONTENT           content,
        m.MIN_PRICE         minPrice,
        m.MAX_PRICE         maxPrice,
        m.PHONE             phone,
        m.TOTAL_COMMENTS    comments,
        m.TOTAL_BROWSE+m.DEV_BROWSE          browse,
        m.TOTAL_RESONATE+m.DEV_RESONATE      likes,
        m.TOTAL_COLLECTION  collection,
        m.FEE               fee,
        m.ACTIVE_TIME       activeTime,
        m.CHECK_IN_TIME     checkInTime,
        m.CHECK_OUT_TIME    checkOutTime,
        m.IS_MALL           isMall,
        m.IS_SUB            isSub,
        (SELECT IFNULL((SELECT id FROM t_user_follow u WHERE u.FAN_ID =#{userId} AND u.FOLLOW_ID=m.USER_ID),'0') ) isFollow
        FROM
        t_wx_user u,
        t_post_base m,
        t_post_type f
        WHERE
        m.TYPE_ID = f.ID
        AND u.USER_ID = m.USER_ID
        AND m.IS_LOWER_SHELF = '0'
        AND m.IS_DEL = '0'
        <if test="navigationId != null and navigationId != ''">
            AND m.IS_TOP = 0
        </if>
        <if test="typeId !=null and typeId !=''">
            AND m.TYPE_ID = #{typeId}
        </if>
        <if test="postId !=null and postId !=''">
            AND m.ID = #{postId}
        </if>
        <if test="isSub !=null and isSub !=''">
            AND m.IS_SUB = #{isSub}
        </if>
        <if test="isMall !=null and isMall !=''">
            AND m.IS_MALL = #{isMall}
        </if>
        <if test="nickname != null and nickname != ''">
            AND u.WX_NICK_NAME LIKE CONCAT(CONCAT('%',#{nickname}),'%')
        </if>
        <if test="keyword !=null and keyword !=''">
            AND (m.CONTENT LIKE CONCAT(CONCAT('%',#{keyword}),'%') OR m.ADDRESS LIKE CONCAT(CONCAT('%',#{keyword}),'%'))
        </if>
        <if test="labels != null and labels !=''">
            AND m.ID IN
            (SELECT POST_ID FROM t_label WHERE
                 LABEL_ID in (#{labels}))
        </if>
        <if test="isRecommend == null or isRecommend ==''">
            ORDER BY likes DESC,comments DESC
        </if>
        <if test="isRecommend != null and isRecommend !=''">
            ORDER BY m.CREATE_TIME DESC
        </if>
        <if test="isPop != null">
            ,browse DESC
        </if>
        LIMIT #{offSet},#{pageRow}
    </select>

    <!-- 判断用户今日发帖数量 去掉 AND a.IS_DEL = 0 -->
    <select id="getReleaseTime" resultType="INTEGER">
        SELECT
            COUNT(0) releaseNum
        FROM
            t_post_base a
        WHERE
            DAY (a.CREATE_TIME) = DAY (NOW())
        AND a.USER_ID = #{userId}
    </select>
    <update id="updateOnShelf">
        UPDATE t_post_base
        SET IS_LOWER_SHELF=IF(IS_LOWER_SHELF=1,0,1)
        WHERE ID = #{postId}
    </update>
    <select id="getOnShelfStatus" resultType="java.lang.Integer">
        SELECT IS_LOWER_SHELF
        FROM t_post_base
        WHERE ID =#{postId}
    </select>
    <update id="updateDelPost">
        BEGIN;
        UPDATE t_post_base
        SET IS_DEL = 1
        WHERE ID =#{postId};
        UPDATE t_comment
        SET IS_DEL = 1
        WHERE
        POST_ID = #{postId};
        COMMIT;
    </update>
    <update id="updateDeletedPost">
        BEGIN;
        UPDATE t_post_base
        SET IS_DEL = 0
        WHERE ID =#{postId};
        UPDATE t_comment
        SET IS_DEL = 0
        WHERE
        POST_ID = #{postId};
        COMMIT;
    </update>

</mapper>