<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.PostBaseDao">

    <!-- 后台帖子dao实现 -->
    <select id="countPost" resultType="java.lang.Integer">
        select count(0) from (SELECT
        u.WX_NICK_NAME      poster,
        u.WX_GENDER         posterGender,
        u.WX_AVATAR_URL     posterAvatar,
        f.TYPE_NAME         typeName,
        m.ID                postId,
        m.CREATE_TIME       createTime,
        m.ADDRESS           address,
        m.LABELS            postLabels,
        m.CONTENT           content,
        m.MIN_PRICE         minPrice,
        m.MAX_PRICE         maxPrice,
        m.PHONE             phone,
        m.TOTAL_BROWSE      browse,
        m.TOTAL_COMMENTS    comments,
        m.TOTAL_RESONATE    likes,
        m.DEV_BROWSE        devBrowse,
        m.DEV_RESONATE      devLike,
        m.TOTAL_COLLECTION  collection,
        m.FEE               fee,
        m.ACTIVE_TIME       activeTime,
        (SELECT IFNULL((SELECT id FROM t_user_follow u WHERE u.FAN_ID =#{userId} AND u.FOLLOW_ID=m.USER_ID),'0') ) isFollow
        FROM
        t_wx_user u,
        t_post_base m,
        t_post_type f
        WHERE
        m.TYPE_ID = f.ID
        AND u.USER_ID = m.USER_ID
        <!--<if test="isMiniPro !=null and isMiniPro!=''">-->
        <!--AND m.IS_LOWER_SHELF = '0'-->
        <!--AND m.IS_DEL = '0'-->
        <!--</if>-->
        <if test="typeId !=null and typeId !=''">
            AND m.TYPE_ID = #{typeId}
        </if>
        <if test="isSub !=null and isSub !=''">
            AND m.IS_SUB = #{isSub}
        </if>
        <if test="isMall !=null and isMall !=''">
            AND m.IS_MALL = #{isMall}
        </if>
        <if test="postId !=null and postId !=''">
            AND m.ID = #{postId}
        </if>
        <if test="nickname != null and nickname != ''">
            AND u.WX_NICK_NAME LIKE CONCAT(CONCAT('%',#{nickname}),'%')
        </if>
        <if test="keyword !=null and keyword !=''">
            AND (m.CONTENT LIKE CONCAT(CONCAT('%',#{keyword}),'%') OR m.ADDRESS LIKE CONCAT(CONCAT('%',#{keyword}),'%'))
        </if>
        <if test="startTime !=null and startTime !='' and endTime !=null and endTime">
            AND m.CREATE_TIME BETWEEN DATE_FORMAT(#{startTime},'%Y-%m-%d %T') AND DATE_FORMAT(#{endTime},'%Y-%m-%d %T')
        </if>
        ORDER BY
        ACTIVE_TIME DESC) g

    </select>

    <insert id="insertPostBase" useGeneratedKeys="true" keyProperty="postId" parameterType="com.alibaba.fastjson.JSONObject">
         INSERT INTO t_post_base (
            USER_ID,
            TYPE_ID,
            CONTENT,
        <if test="minPrice != null and minPrice != 0">
            MIN_PRICE,
        </if>
        <if test="maxPrice != null and maxPrice != 0">
            MAX_PRICE,
        </if>
        <if test="phone != null and phone != ''">
            PHONE,
        </if>
        <if test="address != null and address != ''">
            ADDRESS,
        </if>
        <if test="labels != null and labels != ''">
            LABELS,
        </if>
        <if test="isSub != null and isSub != ''">
            IS_SUB,
        </if>
        <if test="isMall != null and isMall != ''">
            IS_MALL,
        </if>
            ACTIVE_TIME,
            CREATE_TIME,
            FEE
        )
        VALUES
            (
            #{posterId},
            #{typeId},
            #{content},
        <if test="minPrice != null and minPrice != 0">
            #{minPrice},
        </if>
        <if test="maxPrice != null and maxPrice != 0">
            #{maxPrice},
        </if>
        <if test="phone != null and phone != ''">
            #{phone},
        </if>
        <if test="address != null and address != ''">
            #{address},
        </if>
        <if test="labels != null and labels != ''">
            #{labels},
        </if>
        <if test="isSub != null and isSub != ''">
            #{isSub},
        </if>
        <if test="isMall != null and isMall != ''">
            #{isMall},
        </if>
            NOW(),
            NOW(),
            #{fee}
            )
    </insert>
    <select id="getPostBaseList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        u.WX_NICK_NAME      poster,
        u.WX_GENDER         posterGender,
        u.WX_AVATAR_URL     posterAvatar,
        f.TYPE_NAME         typeName,
        m.ID                postId,
        m.CREATE_TIME       createTime,
        m.ADDRESS           address,
        m.LABELS            postLabels,
        m.CONTENT           content,
        m.MIN_PRICE         minPrice,
        m.MAX_PRICE         maxPrice,
        m.PHONE             phone,
        m.TOTAL_BROWSE      browse,
        m.TOTAL_COMMENTS    comments,
        m.TOTAL_RESONATE    likes,
        m.DEV_BROWSE        devBrowse,
        m.DEV_RESONATE      devLike,
        m.TOTAL_COLLECTION  collection,
        m.FEE               fee,
        m.ACTIVE_TIME       activeTime,
        m.IS_LOWER_SHELF    isLowerShelf,
        (SELECT IFNULL((SELECT id FROM t_user_follow u WHERE u.FAN_ID =#{userId} AND u.FOLLOW_ID=m.USER_ID),'0') ) isFollow
        FROM
        t_wx_user u,
        t_post_base m,
        t_post_type f
        WHERE
        m.TYPE_ID = f.ID
        AND u.USER_ID = m.USER_ID
        <!--<if test="isMiniPro !=null and isMiniPro!=''">-->
            <!--AND m.IS_LOWER_SHELF = '0'-->
            <!--AND m.IS_DEL = '0'-->
        <!--</if>-->
        <if test="typeId !=null and typeId !=''">
            AND m.TYPE_ID = #{typeId}
        </if>
        <if test="isSub !=null and isSub !=''">
            AND m.IS_SUB = #{isSub}
        </if>
        <if test="isMall !=null and isMall !=''">
            AND m.IS_MALL = #{isMall}
        </if>
        <if test="postId !=null and postId !=''">
        AND m.ID = #{postId}
        </if>
        <if test="nickname != null and nickname != ''">
        AND u.WX_NICK_NAME LIKE CONCAT(CONCAT('%',#{nickname}),'%')
        </if>
        <if test="keyword !=null and keyword !=''">
        AND (m.CONTENT LIKE CONCAT(CONCAT('%',#{keyword}),'%') OR m.ADDRESS LIKE CONCAT(CONCAT('%',#{keyword}),'%'))
        </if>
        <if test="startTime !=null and startTime !='' and endTime !=null and endTime">
        AND m.CREATE_TIME BETWEEN DATE_FORMAT(#{startTime},'%Y-%m-%d %T') AND DATE_FORMAT(#{endTime},'%Y-%m-%d %T')
        </if>
        ORDER BY
            ACTIVE_TIME DESC
    </select>

    <update id="updatePostBase">
        UPDATE t_post_base
        SET IS_DEL=0
        <if test="devBrowse !=null and devBrowse!=''">
            ,DEV_BROWSE = #{devBrowse}
        </if>
        <if test="devLike !=null and devLike !=''">
            ,DEV_RESONATE =#{devLike}
        </if>
        <if test="onShelf!=null and onShelf!=''">
            ,IS_LOWER_SHELF=#{upShelf}
        </if>
        WHERE ID = #{postId}
    </update>


    <!-- 微信dao方法实现 -->
    <!-- 用户帖子详情 -->
    <select id="getWxUserPostInfo" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        u.WX_NICK_NAME      poster,
        u.WX_GENDER         posterGender,
        u.WX_AVATAR_URL     posterAvatar,
        f.TYPE_NAME         typeName,
        m.ID                postId,
        DATE_FORMAT(m.CREATE_TIME,'%Y-%m-%d %T')       createTime,
        m.CONTENT           content
        FROM
        t_wx_user u,
        t_post_base m,
        t_post_type f
        WHERE
        m.TYPE_ID = f.ID
        AND m.IS_LOWER_SHELF = '0'
        AND m.IS_DEL = '0'
        AND u.USER_ID = m.USER_ID
        AND m.ID =#{postId}
    </select>

    <!-- 校验帖子是否存在 -->
    <select id="getWxPostInfoByPostId" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
          ID         postId
        FROM
        t_post_base
        WHERE
         ID = #{postId}
         AND IS_DEL = '0'
    </select>

    <!-- 微信分页加载帖子列表 -->
    <select id="getWxPostBaseList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        u.USER_ID           postUserId,
        u.WX_NICK_NAME      poster,
        u.WX_GENDER         posterGender,
        u.WX_AVATAR_URL     posterAvatar,
        f.TYPE_NAME         typeName,
        m.ID                postId,
        m.CREATE_TIME       createTime,
        m.ADDRESS           address,
        m.LABELS            postLabels,
        m.CONTENT           content,
        m.MIN_PRICE         minPrice,
        m.MAX_PRICE         maxPrice,
        m.PHONE             phone,
        m.TOTAL_COMMENTS    comments,
        m.TOTAL_BROWSE+m.DEV_BROWSE          browse,
        m.TOTAL_RESONATE+m.DEV_RESONATE      likes,
        m.TOTAL_COLLECTION  collection,
        m.FEE               fee,
        m.ACTIVE_TIME       activeTime,
        (SELECT IFNULL((SELECT id FROM t_user_follow u WHERE u.FAN_ID =#{userId} AND u.FOLLOW_ID=m.USER_ID),'0') ) isFollow
        FROM
        t_wx_user u,
        t_post_base m,
        t_post_type f
        WHERE
        m.TYPE_ID = f.ID
        AND u.USER_ID = m.USER_ID
        AND m.IS_LOWER_SHELF = '0'
        AND m.IS_DEL = '0'
        <if test="typeId !=null and typeId !=''">
            AND m.TYPE_ID = #{typeId}
        </if>
        <if test="postId !=null and postId !=''">
            AND m.ID = #{postId}
        </if>
        <if test="nickname != null and nickname != ''">
            AND u.WX_NICK_NAME LIKE CONCAT(CONCAT('%',#{nickname}),'%')
        </if>
        <if test="keyword !=null and keyword !=''">
            AND (m.CONTENT LIKE CONCAT(CONCAT('%',#{keyword}),'%') OR m.ADDRESS LIKE CONCAT(CONCAT('%',#{keyword}),'%'))
        </if>
        ORDER BY
        ACTIVE_TIME DESC
        LIMIT ${start},${end}
    </select>

    <select id="getReleaseTime" resultType="INTEGER">
        SELECT
            COUNT(0) releaseNum
        FROM
            t_post_base a
        WHERE
            DAY (a.CREATE_TIME) = DAY (NOW())
        AND a.USER_ID = #{posterId}
        AND a.IS_DEL = 0
    </select>
    <update id="updateOnShelf">
        UPDATE t_post_base
        SET IS_DEL=0,IS_LOWER_SHELF=#{upShelf}
        WHERE ID = #{postId}
    </update>

</mapper>