<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.PostTypeDao">
    <select id="countPostType" resultType="Integer">
    select count(1) totalCount from (
    SELECT
        a.ID postTypeId,
        a.TYPE_IMTG_URL postTypeImg,
        a.TYPE_NAME postTypeName,
        a.SORT_TIME sortTime
    FROM
	  t_post_type a
    WHERE
      a.IS_DEL=0
        ) g

    </select>
    <select id="getPostTypeList" resultType="com.alibaba.fastjson.JSONObject">
    SELECT
        a.ID postTypeId,
        a.TYPE_IMTG_URL postTypeImg,
        a.TYPE_NAME postTypeName,
        a.SORT_TIME sortTime
    FROM
	  t_post_type a
    WHERE
      a.IS_DEL=0
    ORDER BY sortTime
    LIMIT 8
    </select>
    <insert id="insertPostType" useGeneratedKeys="true" keyProperty="postTypeId">
    INSERT t_post_type (
        TYPE_IMTG_URL,
        TYPE_NAME,
        CREATE_TIME,
        SORT_TIME
        )
    VALUES(
        #{postTypeImg},
        #{postTypeName},
        NOW(),
        NOW()
		)
    </insert>
    <update id = "updatePostTypeById">
        UPDATE t_post_type a
        SET a.IS_DEL = '0'
        <if test ="postTypeName != null and postTypeName != ''">
            ,a.TYPE_NAME = #{postTypeName}
        </if>
        <if test="postTypeImg !=null and postTypeImg !=''">
            ,a.TYPE_IMTG_URL = #{postTypeImg}
        </if>
        WHERE
        a.ID = #{postTypeId}
    </update>
    <update id="updateDelPostTypeById">
    UPDATE t_post_type a
    SET a.IS_DEL = 1
    WHERE
        a.ID = #{postTypeId}
    </update>
    <update id="sortPostType">
        START TRANSACTION;
        UPDATE t_post_type SET SORT_TIME =#{laterSortTime} WHERE ID = #{formerTypeId};
        UPDATE t_post_type SET SORT_TIME =#{formerSortTime} WHERE ID = #{laterTypeId};
        COMMIT;
    </update>

</mapper>