<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.PostLabelDao">
    <select id="countPostLabel" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM (
        SELECT
        a.ID postLabelId,
        a.PARENT_ID postParentId,
        a.CONTENT labelContent
        FROM
        t_post_label a
        WHERE
        a.IS_DEL = 0
        <if test="labelParentId !=null and labelParentId !=''">
            AND a.PARENT_ID = #{labelParentId}
        </if>

        ORDER BY postParentId
        ) g
    </select>
    <select id="getPostLabelList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            a.ID postLabelId,
            a.PARENT_ID labelParentId,
            a.CONTENT labelContent,
            a.TYPE labelTypeId,
            a.TYPE_IMG_URL labelImg,
            a.TYPE_IMG_URL_GREY labelImgGrey,
            a.SIZE labelSize,
            a.FIX_SHOW labelShow
        FROM
            t_post_label a
        WHERE
            a.IS_DEL = 0
        <if test="labelParentId !=null and labelParentId !=''">
            AND a.PARENT_ID = #{labelParentId}
        </if>

        <!--<if test="labelParentContent !=null and labelParentContent!=''">
            AND a.PARENT_ID = (SELECT b.ID FROM t_post_label b WHERE b.content = #{labelParentContent})
        </if>-->
        <if test="labelTypeId != null and labelTypeId !=''">
            AND a.TYPE = #{labelTypeId}
        </if>
            ORDER BY postLabelId
        <if test="pageNum > 0">
            LIMIT #{offSet},#{pageRow}
        </if>
    </select>
    <insert id="insertPostLabel" useGeneratedKeys="true" keyProperty="postLabelId">
        INSERT INTO t_post_label (parent_id, content,type_img_url,type_img_url_grey,fix_show,type)
        VALUES
        <foreach collection="contents" item="item" index="index" separator=",">
        (
            (SELECT
                m.ID
            FROM
                (
                    SELECT
                        t_post_label.ID
                    FROM
                        t_post_label
                    WHERE
                        t_post_label.CONTENT = #{parentContent}
                ) m),
                #{item},#{labelImg},#{labelImgGrey},#{FIX_SHOW},#{TYPE}
        )
        </foreach>
    </insert>
    <!--用户发布帖子时插入帖子选中的标签-->
    <insert id="insertLabel">
        INSERT INTO t_label (POST_ID, LABEL_ID)
        VALUES
        <foreach collection="labels" item="item" index="index" separator=",">
            (#{postId},#{item})
        </foreach>
    </insert>
    <!--用户更新帖子时先删除原有的帖子标签记录-->
    <insert id="deleteLabel">
        delete from t_label
        where POST_ID =#{postId}
    </insert>

    <!--获取指定帖子的标签列表-->
    <select id="getPostLabelById" resultType="com.alibaba.fastjson.JSONObject">
        SELECT LABEL_ID label
        FROM t_label
        WHERE POST_ID =#{postId}
    </select>

    <update id="updatePostLabel">
        UPDATE t_post_label a
        SET a.CONTENT = #{labelContent},
            a.FIX_SHOW = #{labelShow}
        <if test="labelImg != null and labelImg !=''">
            ,a.TYPE_IMG_URL = #{labelImg}
        </if>
        <if test="labelImgGrey != null and labelImgGrey !=''">
            ,a.TYPE_IMG_URL_GREY = #{labelImgGrey}
        </if>
        WHERE a.ID = #{postLabelId}
    </update>
    <update id="updateDelPostLabel">
        update t_post_label
        SET IS_DEL = 1
        WHERE ID = #{postLabelId}
    </update>

    <select id="getLabelByContent" resultType="com.alibaba.fastjson.JSONObject">
        <if test="labelContent != null and labelContent !=''">
        SELECT
            a.ID postLabelId,
            a.PARENT_ID labelParentId,
            a.CONTENT labelContent,
            a.TYPE labelTypeId,
            a.TYPE_IMG_URL labelImg,
            a.SIZE labelSize,
            a.FIX_SHOW labelShow
        FROM
            t_post_label a
        WHERE
            a.CONTENT like CONCAT('%',#{labelContent},'%')
        </if>
        <if test="realContent != null and realContent !=''">
            SELECT
            a.ID postLabelId,
            a.PARENT_ID labelParentId,
            a.CONTENT labelContent,
            a.TYPE labelTypeId,
            a.TYPE_IMG_URL labelImg,
            a.SIZE labelSize,
            a.FIX_SHOW labelShow
            FROM
            t_post_label a
            WHERE
            a.CONTENT = #{realContent}
        </if>
        <if test="contents != null and contents !=''">
            SELECT
            a.ID postLabelId,
            a.PARENT_ID labelParentId,
            a.CONTENT labelContent,
            a.TYPE labelTypeId,
            a.TYPE_IMG_URL labelImg,
            a.SIZE labelSize,
            a.FIX_SHOW labelShow
            FROM
            t_post_label a
            WHERE
            a.CONTENT = #{contents}
        </if>
    </select>



</mapper>