<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.UserBrowseDao">
    <select id="getUserBrowse" resultType="com.alibaba.fastjson.JSONObject">
        SELECT a.POST_ID postId FROM t_user_browse a WHERE a.USER_ID =#{userId}
    </select>
    <select id="getBrowseStatus" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            ID
        FROM
            t_user_browse
        WHERE
            USER_ID = #{userId}
        AND POST_ID = #{postId}
        AND DATE_FORMAT(CREATE_TIME, '%Y-%m-%d') = CURDATE()
    </select>
    <select id="getPostBrowseList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            a.USER_ID userId,
            a.CREATE_TIME createTime,
            b.WX_AVATAR_URL avatar,
            b.WX_NICK_NAME nickname,
            b.WX_GENDER gender
        FROM
            t_user_browse a,t_wx_user b
        WHERE
            a.USER_ID = b.USER_ID AND a.POST_ID =#{postId}
    </select>
    <update id="updateUserBrowse">
        UPDATE t_user_browse
        SET CREATE_TIME = NOW()
        WHERE USER_ID = #{userId} AND POST_ID = #{postId};
    </update>
    <insert id="insertUserBrowse">
        BEGIN;
        INSERT INTO t_user_browse(
        USER_ID,
        POST_ID,
        CREATE_TIME
        )VALUES (#{userId},#{postId},NOW());
        UPDATE t_post_base
        SET TOTAL_BROWSE = (SELECT COUNT(0) FROM t_user_browse a WHERE a.POST_ID = #{postId}) WHERE ID = #{postId};
        COMMIT;
    </insert>
</mapper>
