<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.UserFollowDao">

    <!-- 后台dao方法实现 -->
    <!-- 统计关注 -->
    <select id="countUserFollow" resultType="Integer">
        SELECT COUNT(1) totalFollow
        FROM
            t_wx_user m,
            t_user_follow u
        WHERE
            u.FAN_ID = #{wxUserId,jdbcType = VARCHAR} AND u.FOLLOW_ID = m.USER_ID
    </select>

    <!-- 统计粉丝 -->
    <select id="countUserFans" resultType="Integer">
        SELECT COUNT(1) totalFans
        FROM
            t_wx_user m,
            t_user_follow u
        WHERE
            u.FOLLOW_ID = #{wxUserId,jdbcType = VARCHAR} AND u.FAN_ID = m.USER_ID
    </select>

    <select id="getUserFollowList" resultType="com.alibaba.fastjson.JSONObject">
    SELECT
        m.WX_NICK_NAME followNickname,
        m.USER_ID followId,
        m.WX_AVATAR_URL fanAvatar,
        m.WX_GENDER followGender,
        (SELECT IFNULL((SELECT ID FROM t_user_follow u WHERE u.FAN_ID =#{wxUserId} AND u.FOLLOW_ID = followId),'0')) isFollow
    FROM
        t_wx_user m,
        t_user_follow u
    WHERE
        u.FAN_ID = #{wxUserId,jdbcType = VARCHAR} AND u.FOLLOW_ID = m.USER_ID
    </select>

    <select id="getUserFansList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            m.WX_NICK_NAME fanNickname,
            m.USER_ID fanId,
            m.WX_AVATAR_URL fanAvatar,
            m.WX_GENDER fanGender,
        (SELECT IFNULL((SELECT ID FROM t_user_follow u WHERE u.FAN_ID =#{wxUserId} AND u.FOLLOW_ID = fanId),'0')) isFollow
        FROM
            t_wx_user m,
            t_user_follow u
        WHERE
            u.FOLLOW_ID = #{wxUserId}
        AND u.FAN_ID = m.USER_ID
    </select>

    <!-- 小程序dao方法实现 -->
    <!-- 关注 -->
    <insert id="insertUserFollow">
        INSERT INTO t_user_follow (
            FOLLOW_ID,
            FAN_ID,
            CREATE_TIME
        )
        VALUES
            (
                #{followId},
                #{fanId},
                now()
            )
    </insert>

    <!-- 是否已有关注条目 -->
    <select id="getIfFollow" resultType="com.alibaba.fastjson.JSONObject">
        SELECT ID FROM t_user_follow where t_user_follow.FAN_ID= #{fanId} and t_user_follow.FOLLOW_ID=#{followId}
    </select>

    <!-- 更新关注状态 -->
    <update id="updateDelFollow">
        UPDATE t_user_follow
        SET IS_DEL =
                IF (
                    t_user_follow.IS_DEL = '1',
                    '0',
                    '1'
                )
                WHERE
                    t_user_follow.FAN_ID =#{fanId} AND t_user_follow.FOLLOW_ID = #{followId}
    </update>
</mapper>