<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.UserResonateDao">

    <select id="getPostLikeList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        u.WX_AVATAR_URL likeImg,
        u.WX_NICK_NAME likeNickname,
        u.WX_GENDER gender,
        a.USER_ID userId,
        a.CREATE_TIME createTime
        FROM
        t_user_resonate a
        LEFT JOIN t_wx_user u ON u.USER_ID = a.USER_ID
        WHERE
        a.TYPE = '1'
        AND a.TARGET_ID = #{postId}
        AND a.IS_DEL = 0
        ORDER BY
        gender DESC,
        createTime DESC
        <if test="limit !=null and limit !=''">
            limit #{limit}
        </if>
    </select>

    <select id="countPostList" resultType="java.lang.Integer">
        SELECT count(0) from
        (
        SELECT
        u.WX_AVATAR_URL likeImg,
        u.WX_NICK_NAME likeNickname,
        a.USER_ID userId,
        a.CREATE_TIME createTime
        FROM
        t_wx_user u,
        t_user_resonate a
        WHERE
        a.TYPE ='1' AND a.TARGET_ID = #{postId}
        AND u.USER_ID = a.USER_ID
        <if test="limit !=null and limit !=''">
            limit #{limit}
        </if>
        ) g
    </select>

    <!-- 用户点赞 -->
    <insert id="insertPostLike" useGeneratedKeys="true" keyProperty="likeId">
        BEGIN;
        INSERT INTO t_user_resonate (
            TYPE,
            TARGET_ID,
            USER_ID,
            CREATE_TIME
        )
        VALUES
            (
                1,
                #{postId},
                #{userId},
               NOW()
            );
        UPDATE t_post_base
        SET TOTAL_RESONATE = (select count(0) from t_user_resonate where TARGET_ID=#{postId} AND IS_DEL = 0), ACTIVE_TIME = NOW()
        WHERE
            ID = #{postId};
        COMMIT;
    </insert>

    <!-- 点赞更新 -->
    <update id="updateDelPostLike">
        BEGIN;
        UPDATE t_user_resonate
        SET IS_DEL =
        IF (
            t_user_resonate.IS_DEL = '1',
            '0',
            '1'
        )
        WHERE
            t_user_resonate.USER_ID =#{userId} AND t_user_resonate.TARGET_ID=#{postId};
        UPDATE t_post_base
        SET ACTIVE_TIME =NOW(),TOTAL_RESONATE = (SELECT COUNT(0) FROM t_user_resonate WHERE TARGET_ID =#{postId} AND IS_DEL = 0)
        WHERE ID = #{postId};
        COMMIT;
    </update>

    <!-- 获取用户点赞的帖子 -->
    <select id="getUserLikeList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            b.TARGET_ID postId
        FROM
            t_user_resonate b
        WHERE
            b.USER_ID =#{userId}
        ORDER BY
            b.CREATE_TIME DESC

    </select>
    <!-- 判断用户是否点赞过该帖子-->
    <select id="getIfLiked" resultType="com.alibaba.fastjson.JSONObject">
        SELECT ID
        FROM t_user_resonate
        WHERE USER_ID = #{userId}
          AND TARGET_ID = #{postId}
    </select>
    <select id="getLikeStatus" resultType="INTEGER">
        SELECT IS_DEL likeStatus
        FROM t_user_resonate
        WHERE USER_ID = #{userId}
          AND TARGET_ID = #{postId}
    </select>

    <!-- 小程序dao实现 -->
    <!-- 判断用户是否已收藏，is_del = 0 -->
    <select id="getByUserIdPostId" resultType="com.alibaba.fastjson.JSONObject">
        SELECT ID
        FROM t_user_resonate
        WHERE USER_ID = #{userId}
          AND TARGET_ID = #{postId}
          AND IS_DEL = 0
    </select>

    <!-- 获取未查看的点赞消息 -->
    <select id="getNewResonateListByUserIdFlagTime" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            p.ID                  postId,
            r.USER_ID             resId,
            u.WX_AVATAR_URL       resAvatarUrl,
            u.WX_NICK_NAME        resNickName,
            r.CREATE_TIME         createTime
        FROM t_user_resonate r,
             t_post_base p,
             t_wx_user u
        WHERE r.IS_DEL = 0
            AND p.ID = r.TARGET_ID
            AND P.IS_DEL =0
            AND p.USER_ID = #{userId}
            AND u.USER_ID = r.USER_ID
            AND r.CREATE_TIME > DATE_FORMAT(#{flagTime}, '%Y-%m-%d %T')
        limit #{pageRow}
    </select>

    <!-- 获取点赞消息的消息内容实体 -->
    <select id="getMessageDataById" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            r.TARGET_ID           postId,
            r.USER_ID             resId,
            u.WX_AVATAR_URL       resAvatarUrl,
            u.WX_NICK_NAME        resNickName,
            r.CREATE_TIME         createTime
        FROM t_user_resonate r,
             t_wx_user u
        WHERE r.IS_DEL = 0
            AND r.ID = #{likeId}
            AND u.USER_ID = r.USER_ID
    </select>

</mapper>