<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.UserResonateDao">

    <select id="getPostLikeList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            u.WX_AVATAR_URL likeImg,
            u.WX_NICK_NAME likeNickname,
            a.USER_ID userId,
            a.CREATE_TIME createTime
        FROM
            t_wx_user u,
            t_user_resonate a
        WHERE
            a.TYPE ='1' AND a.TARGET_ID = #{postId}
        AND u.USER_ID = a.USER_ID
        <if test="limit !=null and limit !=''">
            limit #{limit}
        </if>
    </select>

    <select id="countPostList" resultType="java.lang.Integer">
        SELECT count(0) from
        (
        SELECT
        u.WX_AVATAR_URL likeImg,
        u.WX_NICK_NAME likeNickname,
        a.USER_ID userId,
        a.CREATE_TIME createTime
        FROM
        t_wx_user u,
        t_user_resonate a
        WHERE
        a.TYPE ='1' AND a.TARGET_ID = #{postId}
        AND u.USER_ID = a.USER_ID
        <if test="limit !=null and limit !=''">
            limit #{limit}
        </if>
        ) g
    </select>

    <!-- 用户点赞 -->
    <insert id="insertPostLike" useGeneratedKeys="true" keyProperty="likeId">
        BEGIN;
        INSERT INTO t_user_resonate (
            TYPE,
            TARGET_ID,
            USER_ID,
            CREATE_TIME
        )
        VALUES
            (
                '1',
                #{postId},
                #{userId},
                DATE_FORMAT(#{postLikeCreateTime},'%Y.%m.%d %T')
            );
        UPDATE t_post_base
        SET TOTAL_RESONATE = (select count(0) from t_user_resonate where TARGET_ID=#{postId}), ACTIVE_TIME = NOW()
        WHERE
            ID = #{postId};
        COMMIT;
    </insert>

    <!-- 点赞更新 -->
    <update id="updateDelPostLike">
        BEGIN;
        UPDATE t_user_resonate
        SET IS_DEL =
        IF (
            t_user_resonate.IS_DEL = '1',
            '0',
            '1'
        )
        WHERE
            t_user_resonate.USER_ID =#{userId} AND t_user_resonate.TARGET_ID=#{postId};
        UPDATE t_post_base
        SET
            ACTIVE_TIME = NOW()
        WHERE
            ID = #{postId};
        COMMIT;
    </update>

    <!-- 获取用户点赞的帖子 -->
    <select id="getUserLikeList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            b.TARGET_ID postId
        FROM
            t_user_resonate b
        WHERE
            b.USER_ID =#{userId}
        ORDER BY
            b.CREATE_TIME DESC

    </select>

    <!-- 判断用户是否已收藏，is_del = 0 -->
    <select id="getByUserIdPostId" resultType="com.alibaba.fastjson.JSONObject">
        SELECT ID
        FROM t_user_resonate
        WHERE USER_ID = #{userId}
          AND TARGET_ID = #{postId}
          AND IS_DEL = 0
    </select>
</mapper>