<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.WxUserDao">
    <update id="updateWxUserSummary">
        UPDATE t_wx_user
        SET SUMMARY =#{summary}
        WHERE USER_ID = #{userId}
    </update>
    <select id="countWxUser" resultType="Integer">
        SELECT count(0)
        FROM t_wx_user
        <where>
            <if test="nickname != null and nickname != ''">
            t_wx_user.WX_NICK_NAME LIKE CONCAT(CONCAT('%',#{nickname}),'%')
		</if>
            <if test="startTime != null and startTime != '' and endTime != null and endTime !=''" >
			and date(t_wx_user.UPDATE_TIME) BETWEEN startTime and endTime
			</if>
        </where>
    </select>
    <select id="getWxUserList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        USER_ID         wxUserId,
        OPEN_ID         openId,
        UNION_ID        unionId,
        WX_AVATAR_URL   wxAvatar,
        WX_NICK_NAME    wxNickname,
        WX_GENDER       wxGender,
        WX_CITY         wxCity,
        WX_PROVINCE     wxProvince,
        WX_COUNTRY      wxCountry,
        DEV_FANS        devFans,
        DATE_FORMAT(CREATE_TIME, '%Y.%m.%d %T')    createTime,
        DATE_FORMAT(UPDATE_TIME, '%Y.%m.%d %T')    updateTime,
        (SELECT COUNT(0)FROM t_user_follow a WHERE a.FOLLOW_ID =#{userId}) fans,
        (SELECT COUNT(0)FROM t_user_follow a WHERE a.FAN_ID =#{userId}) followers,
        (SELECT COUNT(0) FROM t_post_base WHERE USER_ID =#{userId} AND IS_DEL =0) releaseNum
        FROM
        t_wx_user
        <where>
            IS_DEL='0'
            <if test="userId != null and userId != ''">
                AND t_wx_user.USER_ID =#{userId}
            </if>
            <if test="nickname != null and nickname != ''">
                AND t_wx_user.WX_NICK_NAME LIKE CONCAT(CONCAT('%',#{nickname}),'%')
            </if>
        </where>
    </select>
    <insert id="insertWxUser">
        insert into t_wx_user (USER_ID,
            OPEN_ID,
            UNION_ID,
            WX_AVATAR_URL,
            WX_NICK_NAME,
            WX_GENDER,
            WX_CITY,
            WX_PROVINCE,
            WX_COUNTRY,
            CREATE_TIME,
            UPDATE_TIME) values (#{userId},#{openId},#{unionId},#{wxAvatar},#{wxNickname},#{wxGender},#{wxCity},#{wxProvince},#{wxCountry},now(),now());
    </insert>
    <select id="getWxUserInfo" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        USER_ID         wxUserId,
        OPEN_ID         openId,
        UNION_ID        unionId,
        WX_AVATAR_URL   wxAvatar,
        WX_NICK_NAME    wxNickname,
        WX_GENDER       wxGender,
        WX_CITY         wxCity,
        WX_PROVINCE     wxProvince,
        WX_COUNTRY      wxCountry,
        SUMMARY         summary,
        ((SELECT COUNT(0)FROM t_user_follow a WHERE a.FOLLOW_ID =#{userId})+DEV_FANS) fans,
        (SELECT COUNT(0)FROM t_user_follow a WHERE a.FAN_ID =#{userId}) followers,
        <if test="myUserId != null and myUserId != ''">
        (SELECT IFNULL((SELECT id FROM t_user_follow u WHERE u.FAN_ID = #{myUserId} AND u.FOLLOW_ID=#{userId} AND u.IS_DEL = 0),'0')) isFollow,
        </if>
        (SELECT COUNT(0) FROM t_post_base WHERE USER_ID =#{userId} AND IS_DEL =0) releaseNum
        FROM
        t_wx_user
        <where>
            IS_DEL='0'
            <if test="userId != null and userId != ''">
                AND t_wx_user.USER_ID =#{userId}
            </if>
        </where>
    </select>
    <select id="getAuthStatus" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            USER_ID	        userId,
            OPEN_ID         openId,
            UNION_ID        unionId,
            WX_AVATAR_URL   wxAvatarImg,
            WX_NICK_NAME    wxNickname,
            WX_GENDER       wxGender,
            WX_CITY         wxCity,
            WX_PROVINCE     wxProvince,
            WX_COUNTRY      wxCountry,
            SUMMARY         summary,
            (SELECT COUNT(0) FROM t_user_follow a WHERE a.FAN_ID =b.USER_ID) follows,
            ((SELECT COUNT(0) FROM t_user_follow a WHERE a.FOLLOW_ID =b.USER_ID)+DEV_FANS) fans,
            (SELECT COUNT(0) FROM t_post_base WHERE USER_ID =b.USER_ID AND IS_DEL =0) releaseNum
        FROM t_wx_user b
        WHERE b.OPEN_ID = #{openId}
    </select>

</mapper>