<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.WxUserPostDao">
    <!-- 查询微信用户帖子列表 -->
    <select id="getWxUserPostList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            u.USER_ID           postUserId,
            u.WX_NICK_NAME      poster,
            u.WX_GENDER         posterGender,
            u.WX_AVATAR_URL     posterAvatar,
            f.TYPE_NAME         typeName,
            m.ID                postId,
            m.CREATE_TIME       createTime,
            m.ADDRESS           address,
            m.LABELS            postLabels,
            m.CONTENT           content,
            m.MIN_PRICE         minPrice,
            m.MAX_PRICE         maxPrice,
            m.PHONE             phone,
            m.TOTAL_COMMENTS    comments,
            m.TOTAL_BROWSE+m.DEV_BROWSE          browse,
            m.TOTAL_RESONATE+m.DEV_RESONATE      likes,
            m.TOTAL_COLLECTION  collection,
            m.FEE               fee,
            m.IS_LOWER_SHELF    isLowerShelf,
            m.ACTIVE_TIME       activeTimes,
            m.CHECK_IN_TIME     checkInTime,
            m.CHECK_OUT_TIME    checkOutTime
        FROM
          t_wx_user u,
          t_post_base m,
          t_post_type f
        WHERE
          m.IS_DEL='0'
          AND m.USER_ID = #{userId}
          AND u.USER_ID = m.USER_ID
          AND m.TYPE_ID = f.ID
          <if test="lookId != userId">
            AND m.IS_LOWER_SHELF = '0'
          </if>
          AND m.IS_DEL = '0'
        ORDER BY m.CREATE_TIME DESC
        LIMIT ${start},${end}
    </select>

    <!-- 查询帖子是否属于该用户（不包含逻辑删除） -->
    <select id="queryPostByUserIdPostId" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            m.ID                postId
        FROM
          t_post_base m
        WHERE
          m.IS_DEL='0'
          AND m.USER_ID = #{userId}
          AND m.ID = #{postId}
    </select>
    <!--获取帖子上下架状态-->
    <select id="getIfOnShelf" resultType="java.lang.Integer">
        SELECT
            IS_LOWER_SHELF offShelf
        FROM
            t_post_base
        WHERE
            ID = #{postId}
    </select>
    <!--设置帖子上下架-->
    <update id="updateOnShelf">
        UPDATE t_post_base
        <set>
            IS_DEL=0,
        <if test='isLowerShelf != NULL and isLowerShelf == "0"'>
            IS_LOWER_SHELF=0,CREATE_TIME = NOW(),ACTIVE_TIME = NOW()
        </if>
        <if test='isLowerShelf != NULL and isLowerShelf == "1"'>
            IS_LOWER_SHELF=1
        </if>
        </set>
        WHERE ID = #{postId}
    </update>
    <!--获取要进行编辑的帖子基本信息-->
    <select id="getUpdatePostBaseInfo" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        f.TYPE_NAME         typeName,
        f.ID                typeId,
        m.ID                postId,
        m.CREATE_TIME       createTime,
        m.ADDRESS           address,
        m.LABELS            postLabels,
        m.CONTENT           content,
        m.MIN_PRICE         minPrice,
        m.MAX_PRICE         maxPrice,
        m.PHONE             phone,
        m.IS_SUB            isSub,
        m.IS_MALL           isMall,
        m.FEE               fee,
        m.CHECK_IN_TIME     checkInTime,
        m.CHECK_OUT_TIME    checkOutTime
        FROM
        t_post_base m,
        t_post_type f
        WHERE
        m.ID = #{postId}
        AND m.TYPE_ID = f.ID
    </select>
    <!--用户编辑帖子信息-->
    <update id="updatePost">
        UPDATE t_post_base
        SET
            CONTENT = #{content},
            MIN_PRICE = #{minPrice},
            MAX_PRICE = #{maxPrice},
            PHONE = #{phone},
            ADDRESS = #{address},
            LABELS = #{labels},
            FEE = #{fee},
            IS_SUB = #{isSub},
            IS_MALL = #{isMall}
        WHERE ID = #{postId}
    </update>

</mapper>